body
{
margin: 0;
padding: 0;
}
#container
{
width: 750px;
margin-left: auto;
margin-right: auto;
border:1px solid black;
}
#header
{
background-color: #357;
margin-top: 10px;
height: 150px;
}
#left
{
width: 170px;
float: left;
background: #ABC;
}
#right
{
width: 580px;
float: left;
background: #9FF;
}
#footer
{
clear: both;
background: #999;
}
#main
{
width: 230px;
float: main;
background: #7DDA58;	
}
#logo
{
float: left;
padding: 10px;
width: 150px;
text-align: center;
}
#tytul
{
float: left;
padding: 10px;
width: 560px;
font-size: 40px;
color: black;
text-align: center;
line-height: 3;
}
#nav
{
 padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline;	
}