body {
	background : #1A1A1D;
	text-algin : center;
	margin : 50px;
}
button {
	box-shadow: 0 0 5px cyan;
	0 0 25px cyan;
}
button:hover {
	box-shadow: 0 0 5px cyan,
	0 0 25px cyan, 0 0 50px cyan,
	0 0 100px cyan, 0 0 200px,cyan;
}