body
{
margin: 0;
padding: 0;
}
#container
{
width: 750px;
margin-left: auto;
margin-right: auto;
border:1px solid black;
}
#header
{
height: 150px;
background: #dcedc8;
}
#left
{
width: 170px;
float: left;
background: #F0E68C;
}
#right
{
width: 580px;
float: right;
background: #e0f2f1;
}
#main
{
width: 580px;
float: right;
background: #FFFACD;
}	
#footer
{
clear: both;
background: #F0E68C;
}
