body {
	background-color: #CCCCFF;
}
p {
	color: #003333;
	text-align: center;
	font-family: Courier New;
	font-style: italic;
}
h1 {
	color: #455a64;
	text-align: center;
	word-spacing: 10px;
}
	