body {
	background-color: #CCCCFF;
	display: flex;
}
p {
	color: #003333;
	text-align: center;
	font-family: Courier New;
	font-style: italic;
}
h1 {
	color: #455a64;
	text-align: center;
	word-spacing: 10px;
}
a {
	position: relative;
	background: #263238;
	color: #263238;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	font-weight: 400;
	padding: 10px 30px;
}
