a {
  color: hotpink;
}
a:link {
  color: red;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: hotpink;
}
a:active {
  color: blue;
}
body {
	background-color: #D8D9DA;
}
h1 {
	letter-spacing: 50px;
	font-size: 50px;
	text-align: center;
}
section {
	width:45%;
	height: 500px;
	background: #A78295;
	float: left;
	border-radius: 20px 20px 20px 20px;
	margin-top: 20px;
}
aside {
	width: 50%;
	height: 850px;
	float: right;
	background: #A78295;
	border-radius: 20px 20px 20px 20px;
	margin-top: 20px;
}
h2 {
	font-size: 50px;
	letter-spacing: 30px;
	text-align:center;
	color: white;
	text-shadow: 8px 6px 14px rgba(240, 248, 255, 1);
}
p {
	font-size: 20px;
	color: #331D2C;
}
h3 {
	font-size: 50px;
	letter-spacing: 20px;
	text-align:center;
	color: white;
	text-shadow: 8px 6px 14px rgba(240, 248, 255, 1);
}
article {
	width:45%;
	height: 300px;
	background: #A78295;
	float: left;
	border-radius: 20px 20px 20px 20px;
	margin-top: 20px;
}