body{
background-color:#D8D9DA;
}
header {
    background-color:#331D2C;
    color: #fff;
    padding: 20px;
	text-align: center;
	letter-spacing: 70px;
	font-size: 20px;
	border-radius: 64px 64px 64px 64px;
	background-position: center;
	color: white;
	text-shadow: 8px 6px 14px rgba(240, 248, 255, 1);
	margin-bottom: 20px;
}
nav{
	background-color: #3F2E3E;
    color: #fff;
    padding: 20px;
	text-align: center;
	font-size: 20px;
	border-radius: 150px 150px 150px 150px;
	background-position: center;
	word-spacing: 50px;
	margin-top: 20px;
	font-weight: bold;
}
a {
  color: white;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}
a:active {
  color: white;
}
section {
	width:70%;
	height: 600px;
	background: #A78295;
	float: left;
	border-radius: 20px 0px 0px 20px;
	margin-top: 20px;
}
aside {
	width:30%;
	height: 600px;
	float: right;
	background: #331D2C;
	border-radius: 0px 20px 20px 0px;
	margin-top: 20px;
}
footer {
	width:100%;
	border-radius: 20px 20px 20px 20px;
	margin-top: 20px;
	background-color:#EFE1D1;
	text-align: center;
	color: white;
}
li {
	color: #331D2C;
}
p {
	margin-bottom: 10px;
}